

body {
 
    font-family: "Arial";
}

.navbar ul li a {
    margin-right: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #454444;
    font-family: "Cabin";
    font-weight: 400;
}

.carousel-caption {
    z-index: 10;
    color: #fff;
    text-align: center;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.btn-primary {
    background: #7E6A9E;
    border: 1px solid #7E6A9E;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.bg-white {
    background: #FFFFFF;
}

.contact-header span {
    color: lightgray;
}

.card-img-top {
    height: 232px;
}s

.card-title {
    font-size: 21px;
    letter-spacing: 0px;
    color: #222222;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
}

.card-text {
    font-size: 14px;
    letter-spacing: 0px;
    color: #444444;
    font-family: "Arial";
    text-align: center;
}

.contat-info {
    font-family: "Arial";
} 
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
    background: #888;
}
 
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.navbar-collapse {
    z-index: 9;
}
/** Mobile Device*/
@media(max-width:990px) {
    .mobileMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: translate(-100%);
        transition: all ease 0.25s;
    }

    .open {
        transform: translate(0) !important;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #d0cccc;
        opacity: 0.5;
        display: none;
    }

    .overlay-open {
        display: block;
    }

    .navbar-nav {
        overflow-y: auto;
    }

    .onRight {
        left: auto;
        right: 0;
        transform: translate(100%);
    }

    .navbar {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        z-index: 1030;
    }

    .slide {
        margin-top: 95px;
    }


    .top-cards {
        margin-top: 1em;
    }

    .carousel-caption h1 {
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 600;  
        color: #ffffff;
        /*font-family: "Roboto";*/ 
        text-align: center;


    }

    .carousel-caption p { 
        font-size: 15px;
         letter-spacing: 1px;
        color: #ffffff;
        /*font-family: "Roboto";*/
        font-weight: 300;
        text-align: center;
    }

    .partners div .card {
        padding: 5px 53px;
    }

        .partners div .card img {
            height: 67px;
        }
}






/** Large Device*/
@media only screen and (min-width: 768px) {
    .top-cards {
        margin-top: -2em;
    }

    .carousel-caption h1 { 
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 70px;
        color: #ffffff;
        /*font-family: "Roboto";*/
        font-weight: 500;
        text-align: center;
    }

    .carousel-caption p {
        font-size: 30px;
        letter-spacing: 1px;
        color: #ffffff;
        /*font-family: "Roboto";*/
        font-weight: 300;
        text-align: center;
    }

    .partners div .card {
        padding: 5px 5px;
    }

        .partners div .card img {
            height: 67px;
        }

    .slide {
        margin-top: 0px;
    }
    .partners .col-lg-2{
        max-width:19%;
            flex: 0 0 25%;
    }
}
 